@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
    color: #FFF8EB;
    box-sizing: border-box;
}

body {
    background-color: #F0BC42;
}

/*   HEADER   */
header {
    height: 75px;
    width: 100vw;
    background-color: #2B3D41;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.whack-image {
    text-align: center;
}

.whack {
    margin: 15px auto;
    width: 20rem;
}

.nav {
    width: 1000px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

#level {
    width: 240px;
    text-align: center;
}

#menu {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.4);
    text-align: center;
    font-size: 3rem;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    padding: 118px 221px 92px;
    margin: 54px;
}

#settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.speed {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin: 10px;
    height: 60px;
}

#timeup {
    display: none;
}

.game-finished {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.4);
    text-align: center;
    font-size: 5rem;
    width: 1000px;
    height: 600px;
    padding: 140px 176px 107px;
    margin: 54px;
}

#final-score {
    font-size: 3rem;
    margin-top: 80px;
}

#button-timeup {
    margin-top: 83px;
}

.counter {
    border: 2px solid #FFF8EB;
    padding: 7px 10px;
    box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    background-color: #556467;
}

.unclickable {
    opacity: 0.9;
    pointer-events: none;
}

.game-area {
    /* margin: 30px 0 20px; */
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hole-with-mole {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

#moles {
    width: 1000px;
    display: flex;
    margin: 15px;
    padding: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    border: 5px solid #FFF8EB;
    border-radius: 20px;
    box-shadow: inset 5px 3px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #6C4330;
}

.picture {
    width: 170px;
}

.mole {
    position: absolute;
    display: block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.buttons {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    outline: none;
}

.buttons input {
    height: 50px;
}

.Alba {
    text-align: center;
    margin-top: 40px;
    color: black;
    font-size: 0.8rem;
}

#cursor {
    width: 5rem;
    position: absolute;
    transform: translate(-35%, -35%);
    pointer-events: none;
}

@media