@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0BC42;
}

/*   HEADER   */
header {
    height: 75px;
    background-color: #2B3D41;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whack-image {
    height: 75px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4.5rem;
}

.whack-menu {
    height: 75px;
    width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.whack {
    height: 45px;
}

.buttons {
    text-align: center;
    text-decoration: none;
    font-family: 'Press Start 2P';
    color: #FFF8EB;
    font-size: 14px;
    border: 2px solid #FFF8EB;
    padding: 7px 10px;
}

.nav-score {
    height: 75px;
    font-family: 'Press Start 2P';
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.score {
    color: #FFF8EB;
    border: 2px solid #FFF8EB;
    padding: 7px 10px;
    box-shadow: inset 0px 1px 5px 1px rgba(0,0,0,0.5);
    background-color: #556467;
}


.game-area {
    margin: 30px 0 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.time-table {
    margin: 15px 0;
    background-color: #2b3d41;
    padding: 15px 15px;
    box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.time {
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 1rem;
    color: #FFF8EB;
    border: 2px solid #FFF8EB;
    padding: 5px 10px;
}


 #start-button {
    position: absolute; 
    left: 43%;
    top: 55%;
    margin: auto;
    height: 120px;
} 

#moles {
    width: 60vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.Alba {
    text-align: center;
    margin-top: 75px;
    font-family: 'Press Start 2P';
    font-size: 0.8rem;
}




/* @media (max-width: 710px) {
    .topos {
        width: 100vw;
    }

    header {
        height: 200px;
        background-color: #2B3D41;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
    }
    
    .header-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .pandemic-left {
        height: 150px;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 15px;
    }
    
    .pandemic {
        height: 50px;
        margin-right: 1.5rem;
    }
    
    .restart {
        text-align: center;
        text-decoration: none;
        font-family: 'Press Start 2P';
        color: #FFF8EB;
        font-size: 14px;
        border: 2px solid #FFF8EB;
        padding: 7px 10px;
    }
    
    .nav-score {
        height: 50px;
        font-family: 'Press Start 2P';
        font-size: 16px;
        display: flex;
        align-items: center;
        padding: 0px;
    }
    
    .score {
        color: #FFF8EB;
    }
    .game-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 980px) {
    .topos {
        width: 80vw;
    }
    
} */